parameters:
	level: 5
	paths:
		- src
		- tests
	excludePaths:
		analyse:
			- tests/stub/runtime
	universalObjectCratesClasses:
		- PHPUnit\Framework\TestCase
	dynamicConstantNames:
		- TP_WORKER_MASTER_TOKEN
	ignoreErrors:
		- '#Function root_path not found.#'
		- '#Function env not found.#'
		- '#Function app_path not found.#'
		- '#Function config_path not found.#'
		- '#Function public_path not found.#'
		- '#Function json not found.#'
		- '#Function runtime_path not found.#'
		- '#Constant STUB_DIR not found.#'
